.no-js #loader {
    display: none;
}
.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}
.se-pre-con {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 24px;
    background-color: #3498db;
    width: 100%;
    color: #2C3E50;
    -webkit-font-smoothing: antialiased;
}

p {
    margin: 0;
}
.invContainer {
    width: 768px;
    margin: 50px auto 30px auto;
    display: block;
}

.invTitle {
    font-size: 28px;
    font-weight: 300;
}

.invByName {
    font-weight: 400;
    margin-top: 0;
}

.invDate {
    margin-top: 0;
    text-align: right;
}
/* Flex stuff ***************/

.invBody {
    display:  flex;
    display: -webkit-flex;
    min-width: 768px; 
    max-width: 768px;
    background-color: #FFFFFF;
    -webkit-flex-direction: column;
    flex-direction: column;
}
/* HEADER */
.invSectionHeader {
    display: flex;
    display: -webkit-flex;
    -webkit-order: 0;
    order: 0;
    width: 100%;
}
.invHeaderItemTitle {
    height: 100px; /* Or whatever */
    margin: 64px 0px 0px 64px;  
}

.invHeaderItemDate {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    margin: 64px 64px 0px 16px;   
}

/* SUMMARY */

.invSectionSummary {
    display: flex;
    display: -webkit-flex;
    -webkit-order: 1;
    order: 1;
    width: 100%;
    -webkit-justify-content: space-between ;
    justify-content: space-between ;
}
.invItemInvTo {
    margin: 32px 0px 0px 64px;
}
.invItemPaymentSummary {
    width: 240px;
    height: 100%;
    margin: 32px 64px 0px 0px;  
    text-align: center;
}
.invTotal {
    font-size: 2.2em;
    font-weight: 600;
    margin-top: 5px;
}
.invDue {
    color: #E67E22;
    margin: 10px 0;
}
.invPayButton {
    text-align: center;
    color: white;
    font-weight: 400;
    background-color: #3498db;
    padding: 1em;
    border: none;
    width: 150px;
    /* margin: 0 3em 0 3em; */
    font-size: 1.2em;
}
.invPayButton:hover {
    background-color: #2980b9;
}



/* INVOICE FOR */

.invSectionInvoiceFor {
    display: flex;
    display: -webkit-flex;
    order: 2;
    -webkit-order:  2;
    width: 100%;
}

.invFor {
    margin: 15px;
    width: 100%;
    margin: 64px 64px 0px 64px; 
}

/* DESCRIPTION */

.invSectionDesc {
    display: flex;
    display: -webkit-flex;
    -webkit-order: 2;
    order: 2;
    width: 100%;
}

.invDesc {
    width: 100%;
    margin: 32px 64px 0px 64px; 
}

.titleInvoiceDetails {
    display: none;
}

/* INVOICE INFO */
.invSectionInfo {
    display: flex;
    display: -webkit-flex;
    -webkit-order:2;
    order: 2;
    width: 100%;
}
.invItemInvInfo {
    display: flex;
    display: -webkit-flex;
    margin: 32px 64px 64px 64px;  
    width: 100%;
}
.invInfoTo {
    display: none;
}

.invInfoByTo {
    display: flex;
    display: -webkit-flex;
    margin-bottom: 1em;
    width: 30%;
}
.invInfoBy {
    width: 100%;
}
.invBy {
    padding-right: 0.5em;
}
.invInfoContainer {
    display: flex;
    display: -webkit-flex;
    width: 70%;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.invInfoDetailsCont {
    display: flex;
    display: -webkit-flex;
    width: 60%;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.invInfoDate, 
.invInfoDueDate,
.invInfoNo, 
.invInfoOther {
    width: 50%;
    padding: 0  0 0.5em 0;
}
.invInfoPaymentDetails {
    width: 40%;
    min-height: 100px;
}
.invTerms {
    min-width: 100%;
}

/* UTILITIES */
.componentTitle {
    font-size: 0.8em;
    color: #BDC3C7;
    text-transform: uppercase;
}
.hint {
    border-bottom: 1px ridge #BDC3C7;
}

.invDescTable {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-content: flex-start;
    flex-direction: column;
    align-content: flex-start;
}
.row {
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;

}
.subtotal {
    margin-top: 1em;
}
.vat {
    margin-bottom: 1em;
}
.total {
    font-weight: 700;
}
.hide {
    visibility: hidden;
}
.dnone {
    display: none !important;
}

.col {
    height: auto;
}

.col p {
    margin: 0px;

}

.col > * {
    padding: 0.2em;
}

.c1 {
    width: 61%;
}
.c2 {
    width: 9%;
    text-align: right;
}
.c3 {
    width: 15%;
    text-align: right;
}
.c4 {
    width: 15%;
    text-align: right;
}
.c5 {
    width: 0%;
    text-align: right;
}

.sendPopupStyle {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    min-width: 260px;
    max-width: 600px;
    margin: 0px auto;
    height: 100%;
}

.aboutPopupStyle {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    min-width: 260px;
    max-width: 600px;
    margin: 0px auto;
    height: 100%;
    text-align: center;
}

.aboutPopupStyle a:link,
.aboutPopupStyle a:visited {
    text-decoration: none;
    color: #3498DB;
}


.icon, .icon:visited {   
    display: inline;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    border:none;
    outline:none;
    margin-left: 5px;
    color: #e74c3c;
}

/* CONTENT EDITABLE STYLE */ 

[contenteditable="true"] {
    padding: 0.2em;
    transition: all 0.15s ease-out;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus,
[contenteditable="true"]:hover {
    border:none;
    outline:none;
    background-color: #f0f0f0;
}

[contenteditable="true"]:empty:before{
    display: block;
    content: attr(placeholder);
    font-weight: 300;
    border-bottom: 1px dashed #DDD;
}

.fieldsContainer {
    margin-right: 3em;
}

.fromToContainer {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between ;
    justify-content: space-between ;
}

.sendFrom {
    display: block;
    -webkit-flex: 3 1 auto;
    flex: 3 1 auto;
    margin-bottom: 0.5em;
}

.fromToIcon {
    display: block;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;   
    -webkit-align-self: flex-end;
    align-self: flex-end;
    margin-bottom: 0.5em;
    width: 3em;
}
.sendTo {
    display: block;
    -webkit-flex: 3 1 auto;
    flex: 3 1 auto;
    margin-bottom: 0.5em;
}

.emailBody {
    display: block;
    margin: 0.5em 0.5em 0 0;
}

.sendButtonContainer {
    width: 103%;
}

.paidButton {
    display: block;
    text-align: center;
    color: #72C475;
    font-weight: 400;
    background-color: white;
    padding: 1em 0 1em 0;
    border: 3px solid #72C475;
    width: 100%;
    margin: 1em 0 0 0;
    font-size: 1.2em;  
}

.invButton {
    display: block;
    text-align: center;
    color: white;
    font-weight: 400;
    background-color: #72C475;
    padding: 1em 0 1em 0;
    border: none;
    width: 100%;
    margin: 1em 0 0 0;
    font-size: 1.2em;
    transition: background-color 0.15s, -webkit-transform 0.15s ease-out;
}

.invButton:hover { 
    background-color: #61A563;
}

.invButtonConnect {
    display: block;
    text-align: center;
    color: white;
    font-weight: 400;
    background-color: #999999;
    padding: 1em 0 1em 0;
    border: none;
    width: 100%;
    margin: 1em 0 0 0;
    font-size: 1.2em;
}

.invButtonConnect:hover {
    background-color: #2980b9;
}

#mc_embed_signup .button {
    width: 96% !important;
    background-color: #ee836e !important;
    border: 0 none;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
    font-size: 13px;
    font-weight: 700 !important;
    height: 36px !important;
    letter-spacing: 0.01em;
    line-height: 36px;
    margin-right: 0;
    overflow: hidden;
    padding: 0 18px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}


/* INPUT FIELDS */

.input {
    margin: 0;
}

.inputField {
    border: none;
    border-radius: 0;
    background: #ececec;
    padding: 0.5em;
    width: 100%;
    font-size: 1em;
    -webkit-appearance: none; /* for box shadows to show on iOS */
}

.inputField:active,
.inputField:focus,
.inputField:hover {
    outline: none;
    background-color: #f0f0f0;
}

.inputFieldError {
    border: 1px solid red;
    border-radius: 0;
    background: #ececec;
    padding: 0.5em;
    width: 100%;
    font-size: 1em;
    -webkit-appearance: none; /* for box shadows to show on iOS */
}

.errorHighlight {
    border: 1px solid red;
}

.textHighlight::before {
    color: #888;
    background: #FFFCDE;
    word-wrap: break-word;
}

.textArea {
    display: inline-block;
    border: none;
    border-radius: 0;
    background: #ececec;
    padding: 1em;
    width: 99%;
    font-size: 1em;
    line-height: 1.8em;
    -webkit-appearance: none; /* for box shadows to show on iOS */
    overflow: auto;
}

.textArea:active,
.textArea:focus,
.textArea:hover {
    outline: none;
    background: #f0f0f0;
}

.inputLabel {
    display: inline-block;
    float: left;
    color: #BDC3C7;
    font-size: 0.8em;
    text-transform: uppercase;
    margin-right: 0.6em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.inputLabelContent {
    position: relative;
    display: block;
    padding-top: 0.2em;
    width: 100%;
}

.invLink {
    color: #888;
    font-style: italic;
}

.footer {
    font-size: 0.9em;
    text-align: center;
    padding: 1em;
    color: #34495e;
}

/* MEDIA QUERIES */

@media print {
    .menu-wrap,
    .menu-button,
    .invButtonConnect,
    .col.c5 > * {
        display: none !important;
    }
    .col > * {
        padding: 0.1em !important;
    }
    .invContainer,
    .invBody {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .invItemPaymentSummary {
        text-align: right;
    }
    .footer .tc,
    .footer .experimental-notice {
        display: none !important;
    }
}

@media only screen and (max-width: 970px) {
    .menu-button {
        margin: 0.7em;
        font-size: 1em;
    }

}

@media only screen and (max-width: 760px) {
    body {
        margin-top: 0em;
        font-size: 0.8em;
    }
    .invHeaderItemDate{
        display: none;
    }
    .invBody{
        min-width: 320px; 
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .invContainer {
        width: auto;
        margin: 0 auto 50px auto;

    }
    .invHeaderItemTitle {
        width: 100%;
        margin: 16px;  
        height: 100%
    }
    .invTitle {
        text-align: center;
    }

    .invByName {
        text-align: center;
    }
    .invItemInvTo {
        display: none;

    }
    .invItemPaymentSummary {
        width: 100%; 
        margin: 16px;
    }
    .invTotal {
        text-align: center;
        font-size: 2.4em;
    }
    .invDue {
        text-align: center;
        font-size: 1.2em;
    }
    .invPayButton {
        text-align: center;
        margin: 0 3em 0 3em;
        font-size: 1.2em;
    }
    .invSectionInvoiceFor {
        text-align: center;
        order: 0;
    }
    .invFor {
        margin: 16px;
        width: 100%;
    }
    .invDesc {
        width: 100%;
        margin: 48px 16px 0px 16px; 
    }
    .invDescTitle {
        display: none;
    }
    .invItemInvInfo {
        -webkit-flex-direction: column;
        flex-direction: column;
        margin: 16px;
    }
    .invInfoByTo {
        width: 100%;
    }
    .invInfoBy {
        width: 50%;
        margin-bottom: 1em;
    }
    .invBy {
        padding-right: 0.5em;
    }
    .invInfoTo {
        width: 50%;
        display: block;
    }
    .invInfoContainer {
        width: 100%;
        margin-bottom: 1em;
    }
    .invInfoDetailsCont {
        width: 100%;
        min-height: 100px;
    }

    .invInfoDate .invInfoDueDate .invInfoNo .invInfoOther {
        width: 50%;
        margin-bottom: 1em;
    }

    .invInfoPaymentDetails {
        width: 100%;
    } 

    .invTerms {
        margin-bottom: 1em;
        display: inline;
    }
    .c1 {
        width: 48%;
    }
    .c2 {
        width: 12%;
    }
    .c3 {
        width: 16%;
    }
    .c4 {
        width: 25%;
    }
    .c5 {
        width: 0%;
    }
    .fromToContainer {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .sendFrom {
        order: 2;
    }
    .sendTo {
        order: 1;
    }
    .textArea {
        height: 150px;
        max-height: 150px;
        overflow: auto;
        display: inline-block;
        line-height: 1.4em;        
    }
    .sendPopupStyle {
        overflow-y: scroll;
        max-height: 100%;
    }
    .aboutPopupStyle {
        overflow-y: scroll;
        max-height: 600px;
    }
}